@media only screen and (max-width: 768px) {
    .top-bar{
       display: none;
    }
}
@media only screen and (max-width: 768px) {
    .section-full{
        padding: 25px;
    }
}
@media only screen and (max-width: 1020px){
	.header-middle{
		display: none !important ;
	}
	.header-botton{
		background-color: #fff !important;
	}
}
@media only screen and (min-width: 1020px){

	#mobile-logo{
		display: none !important;
	}
}